/* modal-overlay for the background */
.modal-overlay {
    background: rgba(0, 0, 0, 0.5);
    /* Overlay background */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* modal-content for the modal box */
.modal-content {
    position: fixed;
    top: 50%;
    /* Center the modal vertically */
    left: 50%;
    /* Center the modal horizontally */
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    /* Default width, 90% of the screen */
    max-width: 800px;
    /* Max width for large screens */
    height: 65vh;
    /* Set height to 65% of the viewport height */
}

/* Make the modal responsive on mobile */
@media (max-width: 768px) {
    .modal-content {
        width: 90%; /* 90% width on smaller screens */
        height: 50vh; /* Modal takes 50% of the screen height on mobile */
        padding: 15px; /* Reduced padding for better fit */
    }
}

/* Close button for modal */
.close-modal-btn {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
